<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-TGCTILG\KAB6SQL;initial catalog=Nasyrov;user id=Nasyrov;password=Nasyrov;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=DESKTOP-TGCTILG\KAB6SQL;initial catalog=Sariev;user id=Sariev;password=Sariev;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>